/* Search Result
---------------------------------------- */
.pagingSearchResult {
	width: 20%; 
	float: left; 
	padding: 2px 0px;
}

.pagingSearchResultTitle {
	color: #204a87;
	padding: 0 0px;
	margin: 0 2px;
	background-color: #fff;
	font-size: 1.2em;
	text-decoration: none;
}


/* Pagination
---------------------------------------- */
.pagingContentResult {
	width: 50%; 
	float: right;
}

.pagingItem {
	color: #204a87;
	margin: 0 2px;
	padding: 0 3px;
	background-color: #d7e9f5;
	border: 1px solid #bababa;
	font-size: 1em;
}

.pagingItemCurrent {
	color: #E2144A;	
	margin: 0 1px;
	padding: 0 4px;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	font-size: 1em;
}

.pagingItem a {	
    text-decoration: none;
    text-align: center;
}

.pagingContentResult span:hover {
	border-color: #fff;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	color: #E2144A;
}

.pagingContentResult span a:hover {
	border-color: #fff;
	background-color: #fff;
	color: #E2144A;
	text-decoration: none;
}

.separatorDivider {
   top: 0px;
   border-bottom-width: 2px;
   border-bottom-color: #d7e9f5;
   border-bottom-style: solid;
   margin-bottom: 0.5em;
}
